div {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
    margin: 5px;
    width: 40px;
}

.main {
    text-align: center;
    background-color: #121213;
    width: 100%;
    height: 100vh;
}

.wordInput {
    margin: 5px;
    width: 80px;
    height: 80px;
    font-size: 40px;
    text-align: center;
    color: white;
    caret-color: #808384;       /* 커서색상 변경 */
    /* ime-mode:disable; */
    }

    #ENTER {
        width: 70px;
    }

    #BACKSPACE {
        width: 60px;
    }