/* @media(max-width: 768px) {
    div {
        zoom: 0.9;
    }
} */

div {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    padding-top: 30px;
    color: white;
    font-size: 9vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer{
    border: 0;
    color: white;
}

#modalButton {
    margin-left: 4vw;
    background-color: #017BFE;

}

#nameInput {
    background-color: white;
    margin-left: 1vw;
}

.main {
    text-align: center;
    background-color: #121213;
    width: 100%;
    height: 150%;
}

.wordInput {
    margin: 1vw 1vw 0px 1vw;
    width: 14vw;
    height: 14vw;
    font-size: 8vw;
    text-align: center;
    color: white;
    caret-color: #707070;
    border-radius: 15%;
    border: 1px;
    outline: none;
    transition: transform 0.8s;
}

#ENTER {
    width: 10vw;
}

#BACKSPACE {
    width: 9vw;
}

.buttonGroup{
    padding-top: 2vw;
    
}
.buttonGroup button {
    margin: 0.8vw;
    width: 6vw;
    height: 6vw;
}

.buttonGroup button {
    padding: 0;
    font-size: 2.5vw;
}

.myToast {
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
    width: fit-content;
    height: auto;
    transform: translate(-50%, 0%);
    position: fixed;
    left: 50%;
    top: 20%;
}


#less5Word {
    background: orange;
}

#notWord {
    background: orange;
}

#incorrect {
    background: red;
}

#correct {
    background: green;
}

#notEnglish {
    background: red;
}